
@{
    ViewBag.Title = "Insert";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<h2>Insert</h2>

@using WebApplication1.Models
@model WebApplication1.Models.EmployeeModel

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }

    <form id="myForm" style="width:40%;font-size:20px; margin-top:10px;">
        @Html.ValidationSummary(true,"",new { @class="text-danger"})

        @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DepartmentList as SelectList, "--select--", new { @class = "form-control", @id = "drop_ID" })
         @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })

            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                @Html.TextBoxFor(model => model.SiteName, new { @class = "form-control", @placeholder = "SiteName" })

                <input type="submit" value="Submit" class="btn btn-block btn-primary " id="btnSubmit" />

</form>
@*@Ajax.ActionLink("Load lại sản phẩm.", "Contact", "Home", new AjaxOptions
         {
        UpdateTargetId = "div_1",
        InsertionMode = InsertionMode.Replace
    })*@
@*<a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#div_1" href="/Employee/getListEmp">Click Here</a>*@
<script>
    $(document).ready(function () {
        var level;
        $("#drop_ID").on('change', function () {
            level = $(this).val();
            $("table tr").each(function (Employees) {
                if (Employees !== 0) {
                    var id = $(this).find("td:nth-child(3)").text();
                    if (id.indexOf(level) !== 0) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                }
            })

            return false;
        })
        $("#btnSubmit").click(function () {
            var data = $("#myForm").serialize();
            $.ajax({

                type: "POST",
                url: "/Home/Insert",
                data: data,
                success: function (response) {
                    if (response.EmployeeId == undefined || response.Name == undefined || response.DepartmentId == undefined) {
                        alert("you wrong");
                        return;
                    }
                    var emp = $("table tbody ");
                    emp.append("<tr>" +
                        "<td>" + response.EmployeeId + "</td>" +
                        "<td>" + response.Name + "</td>" +
                        "<td>" + response.DepartmentId + "</td>" +
                        "<td>" + response.Address + "</td>" +
                        + "</tr>")
                    alert("you are done");
                }

            })
        })
    })
</script>

